@import "Header.css";
@import "Footer.css";
@import "Home.css";
@import "Navbar.css";
@import "Services.css";
@import "About.css";

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.content-container{
    padding-top: 180px;
    max-width: 1000px;
    margin: 0 auto;
}

img{
    width: 100%;
}