@import "Header.css";
@import "Footer.css";
@import "Home.css";
@import "Navbar.css";
@import "Services.css";
@import "About.css";
@import "Contact.css";

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.content-container{
    padding-top: 180px;
    max-width: 1000px;
    margin: 0 auto;
}

img{
    width: 100%;
}

input, textarea{
    font: inherit;
    padding: 10px;
    margin: 10px 0;
}

textarea{
    resize: vertical
}

button{
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(48, 95, 162);
    color: white;
    border-radius: 10px;
}