nav {
    display: flex;
    align-items: center;
}

.nav-link{
    color: rgba(255, 255, 255, 0.547);
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    color: white
}

.nav-link.active{
    color: white;
    text-decoration: underline;
}